<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
{{>header}}
<br>
<p>This site was created by Andrew Johnson and usses webstack</p>
<br>
<img src="/img/koala.jpg"/>
{{title}}

<br>
<br>
{{>footer}}
</body>
</html>